.header {
  line-height: 60px;
  background-color: #333;
}

.header-content {
  width: 500px;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
}

.header-input {
  width: 300px;
  margin-top: 14px;
  padding: 0 10px;
  float: right;
  line-height: 30px;
  border-radius: 5px;
}

.header-input:focus {
  outline: 0;
}